@use "shared/styles/variables" as *;

.loader {
  display: flex;
  justify-content: center;
}

.users_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  height: 100%;
  text-align: center;

  scrollbar-width: thin;
  scrollbar-color: $light-grey transparent;

  .user {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px 20px;
    background-color: $base-glass;
    border: 1px solid $base-glass;
    border-radius: 10px;
    cursor: pointer;
    gap: 1em;
    transition: background-color 0.2s;

    &:hover {
      background-color: $base-glass-hover;
    }

    .avatar_container {
      height: 3em;

      .avatar {
        height: 3em;
      }
    }

    .exclude_button {
      width: fit-content;
    }
  }
}