@use "shared/styles/variables" as *;

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2em;
  padding: 1.5em 2em;
}

.content {
  width: 30vw;
  padding: 0 2em;

  .task_key {
    color: $light-grey
  }

  .task_title {
    margin: 1rem 0;
    overflow: hidden;
  }

  .task_details {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .details_row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;

      .row_title {
        color: $light-grey;
        align-self: center;
        padding: 8px 10px;
      }

      .author_block {
        display: flex;
        align-items: center;
        gap: 0.8em;
        padding: 8px 10px;

        .author_avatar {
          height: 1.5em;
        }
      }
    }
  }
}