@use "shared/styles/variables" as *;

.modal_header {
  display: flex;
  padding-bottom: 2em;

  .title {
    font-size: 2rem;
    font-weight: 400;
    color: $base-blue;
    margin: 0;
    flex: 1;
  }
}