@use "shared/styles/variables" as *;

.button {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  border: 3px solid;
  border-radius: 30px;
  padding: 8px 1em;
  min-width: 200px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &_outlined {
    color: $base-white;
    border-color: $base-blue;
    background: none;

    &:hover {
      background-color: $base-blue;
      color: $base-dark-blue
    }
  }

  &_contained {
    color: $base-dark-blue;
    border-color: $base-blue;
    background-color: $base-blue;
  }

  &_glass {
    color: $base-white;
    border-color: transparent;
    backdrop-filter: blur(15px);
    background: $base-glass;

    &:hover {
      background-color: $base-glass-hover;
    }
  }

  &_with_icon {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .icon {
    height: 1.5em;
  }
}