@use "shared/styles/variables" as *;

.button {
  font-family: OpenSans, sans-serif;
  font-size: 1rem;
  border: 3px solid;
  border-radius: 30px;
  padding: 8px 1em;
  width: fit-content;
  min-width: 100px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  position: relative;

  &_outlined {
    color: $base-white;
    border-color: $base-blue;
    background: none;

    &:hover {
      background-color: $base-blue;
      color: $dark-blue;
    }
  }

  &_contained {
    color: $dark-blue;
    border-color: $base-blue;
    background-color: $base-blue;

    &:hover {
      background-color: transparent;
      color: $base-white;
    }
  }

  &_glass {
    color: $base-white;
    border-color: transparent;
    backdrop-filter: blur(15px);
    background: $base-glass;

    &:hover {
      background-color: $base-glass-hover;
    }
  }

  &_danger {
    color: $dark-blue;
    border-color: $base-red;
    background: $base-red;

    &:hover {
      color: $base-red;
      background-color: transparent;
    }
  }

  &_with_icon {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .loader_container {
    position: absolute;
    left: 50%;

    .loader {
      position: relative;
      left: -50%;
    }
  }

  .icon {
    height: 1.5em;
  }
}