.mobile_navigation {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 1.5em 2em;
  box-sizing: border-box;
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: end;
  }
}