@use "shared/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $base-glass;
  backdrop-filter: blur(15px);
  padding: 1em 2em;
  box-sizing: border-box;
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: end;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 4em;
  }
}