@use "shared/styles/variables" as *;
@use "shared/styles/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: $base-glass;
  backdrop-filter: blur(15px);
  width: 250px;
  padding: 30px 20px;
  box-sizing: border-box;
  gap: 8em;

  @include tablet {
    width: 200px;
  }

  @include phone {
    flex-direction: row;
    align-items: center;
    width: unset;
    height: unset;
    padding: 1.5em 2em;
  }

  .logo_container {
    display: flex;
    justify-content: center;

    @include phone {
      flex-direction: row;
    }

    .logo {
      width: 100px;

      @include phone {
        width: 60px;
      }
    }
  }

  .navigation_wrapper {
    height: 100%;

    @include phone {
      display: none;
    }
  }

  .mobile_menu_button {
    display: none;

    @include phone {
      display: unset;
    }
  }
}