@use "shared/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .selectors_group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;

    .selector_container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .selector_label {
        color: $light-grey;
      }
    }
  }

  .button {
    align-self: flex-end;
    margin-top: 2em;
  }
}