@use "shared/styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  height: 100%;

  .table_header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: $base-glass;
    border: 1px solid $base-glass;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    font-weight: bold;
  }

  .tasks_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
    height: 100%;
    text-align: center;

    .task {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;
      align-items: center;
      text-align: center;
      padding: 10px 20px;
      background-color: $base-glass;
      backdrop-filter: blur(8px);
      border: 1px solid $base-glass;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: $base-glass-hover;
      }

      .task_title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .no_task {
      font-size: 1.5em;
      text-align: center;
    }
  }
}