@use "shared/styles/variables" as *;

.nav_button {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 1em;
  border-radius: 10px;
  text-decoration: none;
  color: $base-white;
  transition: background-color 0.2s;

  .icon {
    height: 1em;
  }

  &:hover {
    background-color: $base-glass;
  }

  &_active {
    background-color: $base-glass;
  }
}