$base-dark-blue: #001025;
$base-blue: #B7D6FF;
$base-white: rgba(255, 255, 255, 0.87);
$base-grey: #B1B1B1;
$base-glass: rgba(255, 255, 255, 0.10);
$base-glass-hover: rgba(255, 255, 255, 0.15);
$base-error: red;