$dark-blue: #001025;
$base-blue: #B7D6FF;
$base-white: rgba(255, 255, 255, 0.87);
$light-grey: #B1B1B1;
$base-grey: rgba(70, 70, 70);
$dark-grey: rgba(50, 50, 50);
$base-glass: rgba(255, 255, 255, 0.10);
$base-glass-hover: rgba(255, 255, 255, 0.15);
$base-error: red;
$base-danger: rgba(255, 178, 178, 1);