@use "shared/styles/variables" as *;

.loader {
  display: flex;
  justify-content: center;
}

.projects_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2em;

  .add_project_card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: $light-grey;
    gap: 0.5em;
    cursor: pointer;
    border-radius: 20px;
    background-color: $base-glass;
    backdrop-filter: blur(15px);
    height: 200px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $base-glass-hover;
    }

    .icon {
      height: 1.5em;
    }
  }
}